<section>
    <div id="categories">
        <div class="categories_date" ><%= @period %> </div>
        <ul class="group">
            <% for box in @data%>
                <li style="background-color: <%= box.color%>">
            <a href="<%=box.permalink %>">
                <h2><%= box.label %></h2>
                <div class="pro-meter-wrapper">
                    <div class="pro-meter group">
                        <% if box.percent_revenue_difference < 0 %>
                            <span class="down"></span>
                    <% else %>
                            <span class="up"></span>
                    <% end %>
                        <em><%= box.percent_revenue_difference * 100 %>%</em>
                    </div>
                </div>
                <ul class="util-bar clearfix">
                    <li><span  class="left-label">Number Of Products</span> <span  class="right-label"><%= @number_of_products[box.id]%></span> </li>
                    <li><span  class="left-label">Revenue</span> <span  class="right-label"><%= box.value%></span> </li>
                    <li><span  class="left-label">Revenue Last Year</span> <span  class="right-label"><%= box.revenue_change%></span> </li>
                    <li><span  class="left-label">Target</span> <span  class="right-label"><%= box.total_target%></span> </li>
                    <li><span  class="left-label">Target Gap</span> <span  class="right-label"><%= box.revenue_difference%></span> </li>
                    <li><span  class="left-label">Profit</span> <span  class="right-label"><%= box.profit%></span> </li>
                    <li><span  class="left-label">Profit Last Year</span> <span  class="right-label"><%= box.profit_change%></span> </li>
                </ul>
            </a>
            </li>
        <% end %>
        </ul>
    </div>
</section>
