<div id='treemap-div'></div>
<%= stylesheet_link_tag "admin/assortment_map" %>
<%= javascript_include_tag 'admin/tooltip' %>
<%= javascript_include_tag 'admin/jquery-treemap' %>
<%= javascript_include_tag "admin/assortment_map" %>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"/>
<% if !@data.nil? %>

    <script>
var list = <%= raw @data %>;
var type = '<%= @type %>';
var year_to_date = <%= @year_to_date%>;
render_tree_map(list, type);
</script>
<% else %>
    <div id='404' style="font-size:40px">TAXON NOT FOUND</div>
<% end %>
<script>
window.onload = $("#weekly_range").buttonset();
</script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

