<% content_for :head do %>
    <%= javascript_tag "var list = #{@data}" %>;
<%= javascript_tag "var type = '#{@type}'" %>;
<%= javascript_tag "var year_to_date = #{@year_to_date}" %>;
<% end %>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"/>
<%= stylesheet_link_tag "admin/assortment_map" %>
<%= javascript_include_tag 'admin/tooltip' %>
<%= javascript_include_tag 'admin/jquery-treemap' %>
<%= javascript_include_tag "admin/assortment_map" %>
<div class="assortment_map_container">
    <%= render 'legend'%>
    <div id='treemap-div'></div>
    <% if !@data.nil? %>

        <div id="weekly_range">
        <a href='-1'>Last Week</a>
        <a href='-4'>Last Four Weeks</a>
        <a href='<%= @year_to_date%>'>Year to Date</a>
        <a href='1'>Next Week</a>
        <a href='4'>Next Four Weeks</a>
    </div>
</div>

<% else %>
    <div id='404' style="font-size:40px">ERROR Finding Taxon Information</div>
<% end %>

