<div class="promo-bubble hidden" id="bubble<%=i%>" >
    <form class="promo-form" id="promo<%=i%>">
        <p class="prom-p">
         <input id="quantity<%=i%>" class="promo-radio" type="radio" name="group1" value="Quantity" onclick=show_quantity(<%=i%>)><label> Quantity</label>
        <input id="percentage<%=i%>" class="promo-radio" type="radio" name="group1" value="Percentage" onclick=show_percentage(<%=i%>) > <label>Percentage</label>
        </p>
        <p id="p_percentage<%=i%>">
        <label for="promotion_percentage<%=i%>"> Percentage</label>
          <input type="number" min="0" max="100" id="promotion_percentage<%=i%>" class="txt-box" value=<%= promotion_value%>>
        </p>
        <p id="p_quantity<%=i%>" style="display:none;float: left;">
        <label for="promotion_buy<%=i%>" > Buy</label>
          <input type="number" min="0" max="10" id="promotion_buy<%=i%>" class="txt-box"></input>
        <label for="promotion_get<%=i%>" class="get-label" > Get free</label>
          <input type="number" min="0" max="10"id="promotion_get<%=i%>" class="txt-box"></input>
        </p>
      <div class="clear">
            <input type="button" class="ok_button" value="OK" />
            <input type="button" class="remove_button" value="Remove" />
      </div>

    </form>
</div>
