<div class="promo-bubble hidden" id="bubble<%=i%>" >
    <form class="promo-form" id="promo<%=i%>">
        <p class="prom-p">
        <label><input id="quantity<%=i%>" class="promo-radio" type="radio" name="group1" value="Quantity" onclick=show_quantity(<%=i%>)> Quantity</label>
        <label><input id="percentage<%=i%>" class="promo-radio" type="radio" name="group1" value="Percentage" onclick=show_percentage(<%=i%>) > Percentage</label>
        </p>
        <p id="p_percentage<%=i%>" >
        <label for="promotion_percentage<%=i%>"> Percentage
          <input type="number" min="0" max="100" id="promotion_percentage<%=i%>" class="txt-box" value=<%= promotion_value%>>
        </label>
        </p> <p id="p_quantity<%=i%>" style="display:none">
        <label for="promotion_buy<%=i%>" > Buy
            <input type="number" min="0" max="10" id="promotion_buy<%=i%>" class="txt-box"></input>
        </label>
        <label for="promotion_get<%=i%>" class="get-label" > Get free
            <input type="number" min="0" max="10"id="promotion_get<%=i%>" class="txt-box"></input>
        </label>
        </p>
            <input type="button" class="ok_button" value="OK" />
            <input type="button" class="remove_button" value="Remove" />

    </form>
</div>
