    </ul>
</div>
<%= javascript_include_tag 'admin/script' %>


<%= stylesheet_link_tag "admin/pages/promotion_simulator/style"%>
<%= stylesheet_link_tag "admin/pages/promotion_simulator/css3mixin"%>
<script>
function show_quantity(i){
    $('#p_percentage'+i).toggle(false);
    $('#p_quantity'+i).toggle(true);
};
function show_percentage(i){
    $('#p_quantity'+i).toggle(false);
    $('#p_percentage'+i).toggle(true);
};
</script>

<div class="range-sel-box">
    <%  counter= 0 %>
    <ul id="slider">
        <% (0..41).each_slice(7).with_index do |slice,index|%>
            <% slice.each do |i| %>

            <% if(counter%7==0)  %>
            <li class="week-start wk_<%=counter/7%>">
        <a href="javascript:void(0);"  class="date w<%=index%>" title="dd/mm/yyyyy"></a><div class="slider_date"><%=i%></div>
        <%= render :partial => 'promo_form', :locals => {:index => index, :i => i}%>
        </li>
    <%  else  %>
            <li>
        <a href="javascript:void(0);"  class="date w<%=index%>" title="dd/mm/yyyyy"></a><div class="slider_date"><%=i%></div>
        <%= render :partial => 'promo_form', :locals => {:index => index, :i => i}%>
        </li>
    <% end %>
        <% counter = counter+1 %>
    <% end %>
    <% end%>
    </ul>
</div>
<div class="link-container">
    <a href="" > Clear Promotions</a>
</div>
<%#<INPUT TYPE="button" class = "clear-btn" onClick="history.go(0)" VALUE="Clear promotions">%>
