<%= javascript_include_tag 'admin/script' %>


<%= stylesheet_link_tag "admin/pages/promotion_simulator/style"%>
<script>
function show_quantity(i){
    $('#p_percentage'+i).toggle(false);
    $('#p_quantity'+i).toggle(true);
};
function show_percentage(i){
    $('#p_quantity'+i).toggle(false);
    $('#p_percentage'+i).toggle(true);
};
</script>
<div class="range-sel-box">
  <span class="range-txt">Promotion:</span>
  <!-- <h4>Promotion  :</h4> -->
  <div class="range-sel-wrapper clear">
  <%  counter= 0 %>
  <ul id="slider">
    <% (0..41).each_slice(7).with_index do |slice,index|%>
        <li class="week_wrapper psm_col"><ul>
        <% slice.each do |i| %>
            <% if(counter%7==0)  %>
                <div style="display:none">
                <% class_name = @calendar_promotion_values.has_key?(i) ? "calendar_promo date-#{@calendar_promotion_values[i].last}" : @calendar_promotion_list.include?(i) ? 'calendar_promo  date-sel' : '' %>
                  <% promotion_value = @calendar_promotion_values[i].first if @calendar_promotion_values.has_key?(i) %>
                </div>
                <li class="week-start wk_<%=counter/7%> <%=class_name%> ">
                <a href="javascript:void(0);"  class="date w<%=index%>" title="<%= (@date_of_forecast + counter).strftime("%d-%b-%Y")%>"></a><div class="slider_date"><%=i%></div>
                <%= render :partial => 'promo_form', :locals => {:index => index, :i => i, :promotion_value => promotion_value } %>
                </li>
            <%  else  %>
                <div style="display:none">
                  <% class_name = @calendar_promotion_values.has_key?(i) ? "calendar_promo date-#{@calendar_promotion_values[i].last}" : @calendar_promotion_list.include?(i) ? 'calendar_promo  date-sel' : '' %>
                  <% promotion_value = @calendar_promotion_values[i].first if @calendar_promotion_values.has_key?(i) %>
                </div>
                <li class="<%=class_name%>">
                <a href="javascript:void(0);"  class="date w<%=index%>" title="<%= (@date_of_forecast + counter).strftime("%d-%b-%Y")%>"></a><div class="slider_date"><%=i%></div>
                <%= render :partial => 'promo_form', :locals => {:index => index, :i => i , :promotion_value => promotion_value }%>
                </li>
            <% end %>
            <% counter = counter+1 %>
            <% end %>
          </ul></li>
        <% end%>

    </ul>
  </div>
</div>
<%#<INPUT TYPE="button" class = "clear-btn" onClick="history.go(0)" VALUE="Clear promotions">%>
