<%= javascript_include_tag 'admin/script' %>
<link rel="stylesheet" href="/assets/admin/week_slider"/>

<link rel="stylesheet" href="/assets/admin/style.css"/>
<link rel="stylesheet" href="/assets/admin/css3mixin.css"/>
<script>
function show_quantity(i){
  $('#promotion_percentage'+i).toggle(false);
  $('#promotion_buy'+i).toggle(true);
  $('#promotion_get'+i).toggle(true);
};
function show_percentage(i){
  $('#promotion_buy'+i).toggle(false);
  $('#promotion_get'+i).toggle(false);
  $('#promotion_percentage'+i).toggle(true);
};
</script>

<div class="range-sel-box">
  <%  counter= 0 %>
  <ul id="slider">
    <% (0..41).each_slice(7).with_index do |slice,index|%>
      <% slice.each do |i| %>

      <% if(counter%7==0)  %>
      <li class="week-start wk_<%=counter/7%>">
    <a href="javascript:void(0);"  class="date w<%=index%>" title="dd/mm/yyyyy"></a><div class="slider_date"><%=i%></div>
      <div class="promo-bubble" id="bubble<%=i%>" style="display:none">
      <form class="promo-form" >
        <p class="prom-p">
        <label><input id="quantity<%=i%>" class="promo-radio" type="radio" name="group1" value="Quantity" onclick=show_quantity(<%=i%>) > Quantity</label>
        <label><input id="percentage<%=i%>" class="promo-radio" type="radio" name="group1" value="Percentage" onclick=show_percentage(<%=i%>)> Percentage</label>
        </p>
        <p>
        <input type="text" id="promotion_percentage<%=i%>" style="display:none" class="txt-box"/>
        </p> <p>
        <input type="text" id="promotion_buy<%=i%>"  style="display:none" class="txt-box"></input>
        <input type="text" id="promotion_get<%=i%>"  style="display:none" class="txt-box"></input>
        </p>
      </form>
    </div>

    </li>
  <%  else  %>
      <li>
    <a href="javascript:void(0);"  class="date w<%=index%>" title="dd/mm/yyyyy"></a><div class="slider_date"><%=i%></div>
  <div class="promo-bubble" id="bubble<%=i%>" style="display:none">
      <form class="promo-form" >
        <p class="prom-p">
        <label><input id="quantity<%=i%>" class="promo-radio" type="radio" name="group1" value="Quantity" onclick=show_quantity(<%=i%>) > Quantity</label>
        <label><input id="percentage<%=i%>" class="promo-radio" type="radio" name="group1" value="Percentage" onclick=show_percentage(<%=i%>) > Percentage</label>
        </p>
        <p>
        <input type="text" id="promotion_percentage<%=i%>" style="display:none" class="txt-box"></input>
        </p> <p>
        <input type="text" id="promotion_buy<%=i%>" style="display:none" class="txt-box"></input>
        <input type="text" id="promotion_get<%=i%>" style="display:none" class="txt-box"></input>
        </p>
      </form>
    </div>

    </li>
    <% end %>
    <% counter = counter+1 %>
  <% end %>
  <% end%>
  </ul>
</div>


