<% content_for :head do %>
    <%= javascript_tag "var response = #{@jsonrep}" %>
    <%= javascript_tag "var mode = '#{@mode}'" %>

<% end %>
<%= javascript_include_tag "admin/simulator" %>
<%= javascript_include_tag "admin/tooltip" %>
<%= javascript_include_tag "admin/promotion_simulator" %>
<%= javascript_include_tag "admin/vendor/date_format" %>
<%= javascript_include_tag "admin/promotion_periodic_stats" %>
<%= stylesheet_link_tag "admin/pages/promotion_simulator/promotion_simulator" %>
<%= stylesheet_link_tag "admin/common/common" %>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"/>

<div class="psm_header clearfix">
    <div class="psm_header_l">
        <div class="psm_name"><strong>Promotion Simulator</strong></div>
        <div class="psm_breadcrumb">
            <ul>
                <% for name in @ancestory%>
                    <% if name == @ancestory.last %>
                    <li><a class="active" href="#"><span><%= name%></span><span class="d_arrow"></span></a></li>
            <%else%>
                    <li><a href="#"><span><%= name%></span><span class="d_arrow"></span></a></li>
            <% end %>
            <% end %>
            </ul>

        </div>
    </div>

    <div class="psm_header_r" id="button-container">
        <div id="back-forward" class="link-container">
            <a id="past-report" href="/admin/promotion_simulator/product/<%= @back %>">&lt</a>
            <div class="psm_fromto" ><%= @promotion_period%> </div>
            <a id="future-simulate" href= "<%=@mode=="simulation" ? "#" : "/admin/promotion_simulator/product/"+@forward %>">&gt</a>
        </div>
        <div id="toggle" class="link-container">
            <a id="weekly_view" href="#">Weekly</a>
            <a id="cumulative_view" href="#">Cumulative</a>
        </div>
    </div>

</div>
  	
<div class="psm_graph_container clearfix">
    <div class="psm_graph_container_l">

        <div class="cumulative-graph-stats-wrapper">
            <table>
                <caption>Forecast</caption>
                <tr>
                    <td>Total revenue ($)</td>
                    <td><em id="total_sales" value="total_sales"></em></td>
                </tr>

                <tr>
                    <td>Target revenue ($)</td>
                    <td><em id="target_sales"></em></td>
                </tr>

                <tr>
                    <td>Target Gap ($)</td>
                    <td><em id="revenue_variation"></em></td>
                </tr>

                <tr>
                    <td>Gross Profit ($)</td>
                    <td><em id="gross_profit"></em></td>
                </tr>

                <tr>
                    <td>Stock Out Date</td>
                    <td><em id="Stock_out_date_before_promotion"></em></td>
                </tr>

            </table>

        <% if @mode == "simulation" %>

            <table>
                <caption>Simulated</caption>

              <tr>
                <td>Total Revenue ($)</td>
                <td><em id="simulated_revenue"></em></td>
              </tr>

              <tr>
                <td>Gross Profit ($)</td>
                <td><em id="simulated_profit"></em></td>
              </tr>
              <tr>
                <td>Revenue Change ($)</td>
                <td><em id="revenue_change"></em></td>
              </tr>

              <tr>
                <td>Profit Change ($)</td>
                <td><em id="profit_change"></em></td>
              </tr>


              <tr>
                <td>Target Gap ($)</td>
                <td><em id="simulated_revenue_variation"></em></td>
              </tr>

              <tr>
                <td>Stock Out Date</td>
                <td><em id="stock_out_date"></em></td>
              </tr>

            </table>

          <% end%>
          <span class = "growth-note">* Growth over previous year</span>
        </div>

    </div>
    <div class="psm_graph_container_r">
        <div id="container" class="chart-container">
        </div>
        <% if @mode == "simulation" %>
            <div id="simulator" class="simulator-container clear">
              <!--<h4>Replenishments :</h4>-->
            <%= render :partial => 'replenishment_selector' %>
            <%= render :partial => 'date_range' %>
            <%= render :partial => 'range_selector' %>

            <%#<div id="simulate-button">%>

              <div class="clear">

                <div class="link-container" style="float: right; padding:20px 10px 0px 10px;">
                  <a id="simulate" href="#"> Simulate </a>
                </div>
              <div class="link-container" style="float:right;padding-top:20px">
                <a href="" > Reset</a>
              </div>

                </div>
            </div>
      <% else %>
          <div id="simulator" class="simulator-container clear">
            <%= render :partial => 'date_range' %>
          </div>
        <% end %>
        </div>
    </div>




    <script>
window.onload = show_sales_statistics(response.stats_report);
    </script>
