<% content_for :head do %>
    <%= javascript_tag "var response = #{@jsonrep}" %>;
<% end %>
<%= javascript_include_tag 'admin/simulator' %>
<%= javascript_include_tag "admin/promotion_simulator" %> 
<%= javascript_include_tag "admin/vendor/date_format" %> 
<%= javascript_include_tag "admin/promotion_periodic_stats" %>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="/assets/admin/promotion_simulator.css"/>

<div id="button-container">
    <div id="back-forward" style="float:left">
        <a id="past-report" href="/admin/promotion_simulator/product/<%= @back%>">&lt</a>
        <a id="future-simulate" href="/admin/promotion_simulator/product/<%= @forward%>">&gt</a>
    </div>
    <div id="toggle" style="float:right">
        <a id="weekly_view">Weekly</a>
        <a id="cumulative_view">Cumulative</a>
    </div>
</div>


<div class="cumulative-graph-stats-wrapper">
    <ul id="cumulative-graph-stats">

        <li>
        <strong>Total Sales</strong>
        <em id="total_sales" value = "total_sales"></em>
        <br/>
        <strong>Target Sales</strong><em id="target_sales"></em>
        </li>
        <li>
        <strong>Revenue Variation</strong><em id="revenue_variation"></em>
        <br/>
        <strong>Gross Profit</strong><em id="gross_profit"></em>
        </li>
        <li>
        <strong>Growth(in %)</strong><em id="growth"></em>
        <br/>
        <strong>Stock Out Date</strong><em id="stock_out_of_date"></em>
        </li>
        <li>
        <strong>Simulated Revenue</strong><em id="simulated_revenue"></em>
        <br/>
        <strong>Simulated Profit</strong><em id="simulated_profit"></em>
        </li>
        <li>
        <strong>Revenue Change</strong><em id="revenue_change"></em>
        <br/>
        <strong>Profit Change</strong><em id="profit_change"></em>
        </li>

    </ul>
</div>


<div id="container" class="chart-container">
</div>



<% if @mode == "simulation" %>
    <div id="simulator">

        <%= render :partial => 'range_selector' %>
        Replenishments
        <%= render :partial => 'replenishment_selector' %>

    <div id="simulate-button">    <a id="simulate" > Simulate </a> </div>
</div>
<% end %>
<script>
window.onload = show_sales_statistics(response.stats_report);
</script>
