<% content_for :head do %>
  <%= javascript_tag "var response = #{@jsonrep}" %>;
<% end %>
<%= javascript_include_tag "admin/promotion_simulator" %> 
<%= javascript_include_tag "admin/vendor/date_format" %> 
<%= javascript_include_tag "admin/promotion_periodic_stats" %>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="/assets/admin/promotion_simulator.css"/>

<div id="button-container">
    <div id="back-forward" style="float:left">
        <a id="past-report" href="/admin/promotion_simulator/product/<%= @back%>">&lt</a>
        <a id="future-simulate" href="/admin/promotion_simulator/product/<%= @forward%>">&gt</a>
    </div>
    <div id="toggle" style="float:right">
        <a id="weekly_view">Weekly</a>
        <a id="cumulative_view">Cumulative</a>
        <a id="weekly_cumulative_view">Weekly and Cumulative</a>
    </div>
</div>


<div class="cumulative-graph-stats-wrapper">
  <ul id="cumulative-graph-stats">

    <li>
      <strong>Total Sales</strong>
      <em id="total_sales" value = "total_sales"></em>
      <br/>
      <strong>Target Sales</strong><em id="target_sales"></em>
    </li>
    <li>
      <strong>Revenue Variation</strong><em id="revenue_variation"></em>
      <br/>
      <strong>Gross Profit</strong><em id="gross_profit"></em>
    </li>
    <li>
      <strong>Growth</strong><em id="growth"></em>
      <br/>
      <strong>Stock Out Date</strong><em id="stock_out_of_date"></em>
    </li>
    <li>
      <strong>Revenue Change</strong><em id="revenue_change"></em>
      <br/>
      <strong>Profit Change</strong><em id="profit_change"></em>
    </li>
  </ul>
</div>




<div id="container" height=600px>
</div>

<% if @mode == "simulation" %>
    <div id="simulator">
    <p>
    <input type="text" id="date_range" style="border: 0; color: #f6931f; font-weight: bold;" />
    </p>
    <p>
    <label for="from">From</label>
    <input type="text" id="from" name="from" />
    <input type="text" id="alternate_from" size="30" style="display:none" />
    <label for="to">to</label>
    <input type="text" id="to" name="to" />
    <input type="text" id="alternate_to" size="30" style="display:none" />
    </p>
    <p>
    <label for="percentage">Promotion Percentage</label>
    <input type="text" id="percentage" name="percentage" />
    </p>
    <div id="simulate-button">    <a id="simulate" > Simulate </a> </div>
</div>
<% end %>
<script>
window.onload = show_sales_statistics(response.stats_report);
</script>
